* {
    margin: 0;
}

header, footer {
    background-color: dodgerblue;
    color: white;
    text-align: center;
}

a {
    margin: 10px;
    border-style: solid;
    padding: 5px;
    color: dodgerblue;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color .5s ease, color .5s ease, font-size .5s ease;
}
a:hover {
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: url("Images/soccerBall.png"), auto;
}

caption, table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: greenyellow;
  color: blue;
}

.navbar {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    background-color: white;
    color: dodgerblue;
}

body {
    background-image: url("Images/soccer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.gfont {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.textbox {
    background-color: lightgrey;
    margin: 10px;
    padding: 10px
}

img {
    transition: height .5s ease, width .5s ease;
}

img:hover {
    height: 100px;
    width: 100px
}